<section>
  <section>  <!-- Display -->
    <mat-table [dataSource]="dataSource">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="cost">
        <mat-header-cell *matHeaderCellDef>Cost</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cost}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </section>
  <section> <!-- User Input -->
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [(ngModel)]="dateInput" [matDatepicker]="picker" [value]="dateInput">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-label>Type</mat-label>
      <input matInput [(ngModel)]="typeInput">
    </mat-form-field> -->
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="typeInput">
        @for (type of typesCategory; track type) {
          <mat-option [value]="type">{{type}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input matInput [(ngModel)]="amountInput">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="descriptionInput">
    </mat-form-field>
    <button mat-button (click)="appendList(dateInput, typeInput, amountInput, descriptionInput)">add</button>
  </section>
</section>

